# Ignore virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Logs
*.log

# Environment variables
*.env
*.env.*

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
